.hamburguer {
    background-color: white;
    color: white;
    position: relative;
    display: block;
    background-color: #ffffff;
    width: 30px;
    height: 2px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background-color: #ffffff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 7%;
}

.redes_sociais img {
    padding: 10px;
}

.header {
    height: 480px;
    background-image: url(../images/header.png);
    color: #FFFFFF;
}

.header h1 {
    margin-bottom: 8px;
    font-size: 40px;
}

.lower-area-header {
    display: flex;
    justify-content: space-around;
}

.lower-area-header .text-header h3 {
    width: 607px;
    font-size: 18px;
}

.lower-area-header .text-header span {
    font-size: 14px;
}

.logo {
    width: 250px;
    padding-bottom: 50px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ECECEC;
    width: 350px;
    border-radius: 6px;
    color: #404040;
    text-align: left;
    padding: 10px;
    box-shadow: 0px 0px 10px #AAAAAA;
    z-index: 1;
}

.form .form-body h2 {
    margin-top: 1px solid #404040;
    color: #404040;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.form .button {
    background-color: #1AB486;
    color: #FFFFFF;
}

.form h2 {
    font-size: 28px;
    font-weight: 700;
    color: #167558;
    margin-bottom: 14px;
}

.form input {
    border-radius: 42px;
    height: 42px;
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    color: #404040;
}

.form h3 {
    font-size: 15px;
}

.container2 {
    background-color: #F1F1F1;
    padding-top: 10%;
    position: relative;
}

.text1 h2 {
    font-size: 52px;
    color: #161F75;
    width: 550px;
}

.text1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 4%;
}

.text1 button {
    background-color: #161F75;
    color: #ffffff;
    height: 40px;
    width: 10%;
}

.images {
    display: flex;
}

.pack1_images img {
    width: 195px;
}

.pack1_images {
    width: 50%;
}

.pack1_images .image1,
.pack1_images .image2 {
    position: absolute;
    z-index: 1;
}

.pack1_images .image1 {
    left: 10%;
    top: 28%;
}

.pack1_images .image2 {
    position: absolute;
    left: 24.4%;
    top: 43.5%;
}

.square{
    width: 175px;
    height: 175px;
    background-color: #070D48;
    position: absolute;
    left: 18%;
    top: 35%;
    border-radius: 5px;
}

.right_side_images {
    display: flex;
    padding-right: 10%;
}

.right_side_images img {
    height:78%;
    padding-right: 2%;
}

.pack2_images img{
    height: 40%;
    padding-bottom: 5%;
}

.pack2_images {
    display: flex;
    flex-direction: column;
}

.carrossel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topic_carrossel {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 200px;
    height: 130px;
    width: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carrossel .seta img {
    border: 2px solid #161F75;
    border-radius: 200px;
    padding: 15px;
}

.text2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    background-color: #010639;
    height: 200px;
}

.text2 h2 {
    font-size: 36px;
    width: 50%;
}

.text2 button {
    background-color: #ffffff;
    color: #161F75;
    width: 247px;
    height: 50px;
    border-radius: 4px;
    font-weight: 500;
}

.testimonial_image img {
    width: 400px;
}

.testimonial {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial .testimonial_info {
    text-align: left;
    width: 80%;
}

.testimonial .testimonial_info h2 {
    font-size: 52px;
    font-weight: 700;
}

.testimonial_info p {
    width: 40%;
    padding-bottom: 5%;
    font-family: 'Poppins', sans-serif;
}

.testimonial .testimonial_info h3 {
    padding-bottom: 2%;
    width: 80%;
    margin: 0;
}

.testimonial_info .name {
    font-weight: 700;
    font-size: 30px;
    width: 2%;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F1F1CC;
}

.blog-text {
    width: 45%;
    margin: 3% 3%;
}

.blog-text h2 {
    font-size: 40px;
    font-weight: 500;
    color: #161F75;
    text-align: center;
}

.blog-text p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.blog-images {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #333333;
    margin: 10px;
    margin-bottom: 5%;
}

.container p {
    width: 70%;
    text-align: center;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #010639;
    color: #ffffff;
    padding-bottom: 2%;
}

.footer-info {
    background-color: #070D48;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.footer-topics {
    color: #00F0FF;
    display: flex;
    align-items: center;
}

.footer-topics h3 {
    cursor: pointer;
    font-size: 12px;
    margin: 8px;
}

.address {
    color: #ffffff;
    text-align: right;
    width: 96%;
}

.footer p {
    font-size: 12px;
}

.footer .logo img {
    width: 30%;
}

.footer .developer {
    text-align: center;
}

.footer .logo {
    width: 50%;
}